<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid" style="background-color: rgb(42, 0, 150);">
        <a class="navbar-brand fs-2" style="color: rgb(203, 1, 239);" href="#">WASIMODOEVENTS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item fs-4">
                    <!-- Button trigger modal -->
                    <button data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop">
                        Regístrate
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Regístrate</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Debes seleccionar como quieres registrarte:
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class=""
                                        data-bs-dismiss="modal" routerLink="registro-usuario">Regístrate como usuario</button>
                                        <div>
                                    <button type="button" class="" >Regístrate como administrador</button>

                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <button routerLink="inicia-sesion">
                    Iniciar sesión
                </button>
            </ul>
        </div>
    </div>
</nav>
